*.o
*.a
Makefile
Makefile.in
.deps/

/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1

/visualc_net/*.ncb
/visualc_net/*.suo
/visualc_net/*.vcproj.*
/visualc_net/Debug/
/visualc_net/Release/
